.landingNavGlass {
  width: calc(100vw - 3rem);
  max-width: 77rem;
}

@media (min-width: 48rem) {
  .landingNavGlass {
    width: calc(100vw - 5rem);
    max-width: 75rem;
  }
}

.landingNavGlass :global(.glass) {
  display: flex !important;
  width: 100% !important;
}

.landingNavGlass :global(.glass > div) {
  width: 100% !important;
}
